

# Dependencies
# ──────────────
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
*.yaml

# Keep lockfiles for reproducible builds
# DO NOT ignore package-lock.json

# ──────────────
# Testing
# ──────────────
/coverage

# ──────────────
# Next.js build output
# ──────────────
/.next/
/out/
/.turbo

# ──────────────
# Production builds
# ──────────────
/build

# ──────────────
# Miscellaneous
# ──────────────
.DS_Store
*.pem

# ──────────────
# Debug logs
# ──────────────
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ──────────────
# Local environment variables
# ──────────────
.env
.env*.local

# ──────────────
# Vercel deployment folder
# ──────────────
.vercel

# ──────────────
# TypeScript
# ──────────────
*.tsbuildinfo
next-env.d.ts
